<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trider.smartbarui" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-permission
        android:name="android.permission.INTERNET"
      />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.trider.smartbarui.MainActivity" />
        </activity>
        <activity
            android:name=".IdleMenu"
            android:label="@string/title_activity_idle_menu"
            android:parentActivityName=".TestActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.trider.smartbarui.TestActivity" />
        </activity>
        <activity
            android:name=".PickUpDrink"
            android:label="@string/title_activity_new_user"
            android:parentActivityName=".IdleMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.trider.smartbarui.IdleMenu" />
        </activity>
        <activity
            android:name=".PickUpFinger"
            android:label="@string/title_activity_pick_up_finger"
            android:parentActivityName=".PickUpDrink" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.trider.smartbarui.PickUpDrink" />
        </activity>
    </application>

</manifest>
